
.container {
    border: 1px solid #232323;
    border-radius: 1rem;
    height: 30rem;
    width: 20rem;
    padding: .5rem;


}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
}

.row {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

.output {
    height: 4rem;
    width: 20rem;
    border-radius: .5rem;
    text-align: right;
}

input {
    color: white;
    padding: .2rem;
    border: none;
}

input[type=button] {
    font-size: 1.5rem;
    border-radius: 50%;
}

.control-button {
    color: white;
    background-color: #c9a8a8;
    padding: .9rem .8rem;
}

.numbers {
   
    background-color: #0e0d0d;
    padding: .8rem 1.2rem;
}

.operator{ 
    background-color: #b5bd21;
    padding: .8rem 1.2rem;
}

.zero {
    padding-right: 6rem !important;
    border-radius: 20rem !important;
}